<div
	class="offcanvas offcanvas-end"
	tabindex="-1"
	id="theme-settings-offcanvas">
	<div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
		<h5 class="text-white m-0">Configuraciones</h5>
		<button
			type="button"
			class="btn-close btn-close-white ms-auto"
			data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>

	<div class="offcanvas-body p-0">
		<div data-simplebar class="h-100">
			<div class="card mb-0 p-3">
				<h5 class="mb-3 font-16 fw-bold">Color Scheme</h5>

				<div class="colorscheme-cardradio">
					<div class="row">
						<div class="col-4">
							<div class="form-check card-radio">
								<input
									class="form-check-input"
									type="radio"
									name="data-theme"
									id="layout-color-light"
									(click)="changePropertyTheme($event)"
									value="light" />
								<label
									class="form-check-label p-0 avatar-md w-100"
									for="layout-color-light">
									<div id="sidebar-size">
										<span class="d-flex h-100">
											<span class="flex-shrink-0">
												<span
													class="bg-light d-flex h-100 border-end flex-column p-1 px-2">
													<span
														class="d-block p-1 bg-secondary-lighten rounded mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												</span>
											</span>
											<span class="flex-grow-1">
												<span
													class="d-flex h-100 flex-column bg-white rounded-2">
													<span class="bg-light d-block p-1"></span>
												</span>
											</span>
										</span>
									</div>

									<div id="topnav-color" class="bg-white rounded-2 h-100">
										<span class="d-flex h-100 flex-column">
											<span
												class="bg-light d-flex p-1 align-items-center border-bottom border-secondary border-opacity-25">
												<span
													class="d-block p-1 bg-dark-lighten rounded me-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-auto"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
											</span>
											<span class="d-flex h-100 flex-column bg-white rounded-2">
												<span class="bg-light d-block p-1"></span>
											</span>
										</span>
									</div>
								</label>
							</div>
							<h5 class="font-14 text-center text-muted mt-2">Light</h5>
						</div>

						<div class="col-4">
							<div class="form-check card-radio">
								<input
									class="form-check-input"
									type="radio"
									name="data-theme"
									id="layout-color-dark"
									(click)="changePropertyTheme($event)"
									value="dark" />
								<label
									class="form-check-label p-0 avatar-md w-100 bg-black"
									for="layout-color-dark">
									<div id="sidebar-size">
										<span class="d-flex h-100">
											<span class="flex-shrink-0">
												<span
													class="bg-light-lighten d-flex h-100 flex-column p-1 px-2">
													<span
														class="d-block p-1 bg-secondary-lighten rounded mb-1"></span>
													<span
														class="d-block border border-secondary border-opacity-25 border-3 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-secondary border-opacity-25 border-3 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-secondary border-opacity-25 border-3 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-secondary border-opacity-25 border-3 rounded w-100 mb-1"></span>
												</span>
											</span>
											<span class="flex-grow-1">
												<span class="d-flex h-100 flex-column">
													<span class="bg-light-lighten d-block p-1"></span>
												</span>
											</span>
										</span>
									</div>

									<div id="topnav-color">
										<span class="d-flex h-100 flex-column">
											<span
												class="bg-light-lighten d-flex p-1 align-items-center border-bottom border-opacity-25 border-primary border-opacity-25">
												<span
													class="d-block p-1 bg-secondary-lighten rounded me-1"></span>
												<span
													class="d-block border border-primary border-opacity-25 border-3 rounded ms-auto"></span>
												<span
													class="d-block border border-primary border-opacity-25 border-3 rounded ms-1"></span>
												<span
													class="d-block border border-primary border-opacity-25 border-3 rounded ms-1"></span>
												<span
													class="d-block border border-primary border-opacity-25 border-3 rounded ms-1"></span>
											</span>
											<span class="bg-light-lighten d-block p-1"></span>
										</span>
									</div>
								</label>
							</div>
							<h5 class="font-14 text-center text-muted mt-2">Dark</h5>
						</div>
					</div>
				</div>

				<h5 class="my-3 font-16 fw-bold">Topbar Color</h5>

				<div class="row">
					<div class="col-4">
						<div class="form-check card-radio">
							<input
								class="form-check-input"
								type="radio"
								name="data-topbar-color"
								id="topbar-color-light"
								(click)="changePropertyTheme($event)"
								value="light" />
							<label
								class="form-check-label p-0 avatar-md w-100"
								for="topbar-color-light">
								<div id="sidebar-size">
									<span class="d-flex h-100">
										<span class="flex-shrink-0">
											<span
												class="bg-light d-flex h-100 border-end flex-column p-1 px-2">
												<span
													class="d-block p-1 bg-dark-lighten rounded mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
											</span>
										</span>
										<span class="flex-grow-1">
											<span class="d-flex h-100 flex-column">
												<span class="bg-light d-block p-1"></span>
											</span>
										</span>
									</span>
								</div>

								<div id="topnav-color">
									<span class="d-flex h-100 flex-column">
										<span
											class="bg-light d-flex p-1 align-items-center border-bottom border-secondary border-opacity-25">
											<span
												class="d-block p-1 bg-dark-lighten rounded me-1"></span>
											<span
												class="d-block border border-3 border-secondary border-opacity-25 rounded ms-auto"></span>
											<span
												class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
											<span
												class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
											<span
												class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
										</span>
										<span class="bg-light d-block p-1"></span>
									</span>
								</div>
							</label>
						</div>
						<h5 class="font-14 text-center text-muted mt-2">Light</h5>
					</div>

					<div class="col-4" style="--ct-dark-rgb: 64, 73, 84">
						<div class="form-check card-radio">
							<input
								class="form-check-input"
								type="radio"
								name="data-topbar-color"
								id="topbar-color-dark"
								(click)="changePropertyTheme($event)"
								value="dark" />
							<label
								class="form-check-label p-0 avatar-md w-100"
								for="topbar-color-dark">
								<div id="sidebar-size">
									<span class="d-flex h-100">
										<span class="flex-shrink-0">
											<span
												class="bg-light d-flex h-100 border-end flex-column p-1 px-2">
												<span
													class="d-block p-1 bg-primary-lighten rounded mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
											</span>
										</span>
										<span class="flex-grow-1">
											<span class="d-flex h-100 flex-column">
												<span class="bg-dark d-block p-1"></span>
											</span>
										</span>
									</span>
								</div>

								<div id="topnav-color">
									<span class="d-flex h-100 flex-column">
										<span
											class="bg-dark d-flex p-1 align-items-center border-bottom border-secondary border-opacity-25">
											<span
												class="d-block p-1 bg-primary-lighten rounded me-1"></span>
											<span
												class="d-block border border-primary border-opacity-25 border-3 rounded ms-auto"></span>
											<span
												class="d-block border border-primary border-opacity-25 border-3 rounded ms-1"></span>
											<span
												class="d-block border border-primary border-opacity-25 border-3 rounded ms-1"></span>
											<span
												class="d-block border border-primary border-opacity-25 border-3 rounded ms-1"></span>
										</span>
										<span class="bg-light d-block p-1"></span>
									</span>
								</div>
							</label>
						</div>
						<h5 class="font-14 text-center text-muted mt-2">Dark</h5>
					</div>

					<div class="col-4">
						<div class="form-check card-radio">
							<input
								class="form-check-input"
								type="radio"
								name="data-topbar-color"
								id="topbar-color-brand"
								(click)="changePropertyTheme($event)"
								value="brand" />
							<label
								class="form-check-label p-0 avatar-md w-100"
								for="topbar-color-brand">
								<div id="sidebar-size">
									<span class="d-flex h-100">
										<span class="flex-shrink-0">
											<span
												class="bg-light d-flex h-100 border-end flex-column p-1 px-2">
												<span
													class="d-block p-1 bg-dark-lighten rounded mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
											</span>
										</span>
										<span class="flex-grow-1">
											<span class="d-flex h-100 flex-column">
												<span class="bg-primary bg-gradient d-block p-1"></span>
											</span>
										</span>
									</span>
								</div>

								<div id="topnav-color">
									<span class="d-flex h-100 flex-column">
										<span
											class="bg-primary bg-gradient d-flex p-1 align-items-center border-bottom border-secondary border-opacity-25">
											<span
												class="d-block p-1 bg-light opacity-25 rounded me-1"></span>
											<span
												class="d-block border border-3 border opacity-25 rounded ms-auto"></span>
											<span
												class="d-block border border-3 border opacity-25 rounded ms-1"></span>
											<span
												class="d-block border border-3 border opacity-25 rounded ms-1"></span>
											<span
												class="d-block border border-3 border opacity-25 rounded ms-1"></span>
										</span>
										<span class="bg-light d-block p-1"></span>
									</span>
								</div>
							</label>
						</div>
						<h5 class="font-14 text-center text-muted mt-2">Brand</h5>
					</div>
				</div>

				<div>
					<h5 class="my-3 font-16 fw-bold">Menu Color</h5>

					<div class="row">
						<div class="col-4">
							<div class="form-check sidebar-setting card-radio">
								<input
									class="form-check-input"
									type="radio"
									name="data-menu-color"
									id="leftbar-color-light"
									(click)="changePropertyTheme($event)"
									value="light" />
								<label
									class="form-check-label p-0 avatar-md w-100"
									for="leftbar-color-light">
									<div id="sidebar-size">
										<span class="d-flex h-100">
											<span class="flex-shrink-0">
												<span
													class="bg-light d-flex h-100 border-end flex-column p-1 px-2">
													<span
														class="d-block p-1 bg-dark-lighten rounded mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
													<span
														class="d-block border border-3 border-secondary border-opacity-25 rounded w-100 mb-1"></span>
												</span>
											</span>
											<span class="flex-grow-1">
												<span class="d-flex h-100 flex-column">
													<span class="bg-light d-block p-1"></span>
												</span>
											</span>
										</span>
									</div>

									<div id="topnav-color">
										<span class="d-flex h-100 flex-column">
											<span
												class="bg-light d-flex p-1 align-items-center border-bottom border-secondary border-opacity-25">
												<span
													class="d-block p-1 bg-dark-lighten rounded me-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-auto"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
											</span>
											<span class="bg-light d-block p-1"></span>
										</span>
									</div>
								</label>
							</div>
							<h5 class="font-14 text-center text-muted mt-2">Light</h5>
						</div>

						<div
							class="col-4"
							style="--ct-dark-rgb: 64, 73, 84; --ct-border-color: #dee2e6">
							<div class="form-check sidebar-setting card-radio">
								<input
									class="form-check-input"
									type="radio"
									name="data-menu-color"
									id="leftbar-color-dark"
									(click)="changePropertyTheme($event)"
									value="dark" />
								<label
									class="form-check-label p-0 avatar-md w-100"
									for="leftbar-color-dark">
									<div id="sidebar-size">
										<span class="d-flex h-100">
											<span class="flex-shrink-0">
												<span class="bg-dark d-flex h-100 flex-column p-1 px-2">
													<span
														class="d-block p-1 bg-secondary-lighten rounded mb-1"></span>
													<span
														class="d-block border border-secondary rounded border-opacity-25 border-3 w-100 mb-1"></span>
													<span
														class="d-block border border-secondary rounded border-opacity-25 border-3 w-100 mb-1"></span>
													<span
														class="d-block border border-secondary rounded border-opacity-25 border-3 w-100 mb-1"></span>
													<span
														class="d-block border border-secondary rounded border-opacity-25 border-3 w-100 mb-1"></span>
												</span>
											</span>
											<span class="flex-grow-1">
												<span class="d-flex h-100 flex-column">
													<span class="bg-light d-block p-1"></span>
												</span>
											</span>
										</span>
									</div>

									<div id="topnav-color">
										<span class="d-flex h-100 flex-column">
											<span
												class="bg-light d-flex p-1 align-items-center border-bottom border-secondary border-primary border-opacity-25">
												<span
													class="d-block p-1 bg-primary-lighten rounded me-1"></span>
												<span
													class="d-block border border-secondary rounded border-opacity-25 border-3 ms-auto"></span>
												<span
													class="d-block border border-secondary rounded border-opacity-25 border-3 ms-1"></span>
												<span
													class="d-block border border-secondary rounded border-opacity-25 border-3 ms-1"></span>
												<span
													class="d-block border border-secondary rounded border-opacity-25 border-3 ms-1"></span>
											</span>
											<span class="bg-dark d-block p-1"></span>
										</span>
									</div>
								</label>
							</div>
							<h5 class="font-14 text-center text-muted mt-2">Dark</h5>
						</div>
						<div class="col-4">
							<div class="form-check sidebar-setting card-radio">
								<input
									class="form-check-input"
									type="radio"
									name="data-menu-color"
									id="leftbar-color-brand"
									(click)="changePropertyTheme($event)"
									value="brand" />
								<label
									class="form-check-label p-0 avatar-md w-100"
									for="leftbar-color-brand">
									<div id="sidebar-size">
										<span class="d-flex h-100">
											<span class="flex-shrink-0">
												<span
													class="bg-primary bg-gradient d-flex h-100 flex-column p-1 px-2">
													<span
														class="d-block p-1 bg-light-lighten rounded mb-1"></span>
													<span
														class="d-block border opacity-25 rounded border-3 w-100 mb-1"></span>
													<span
														class="d-block border opacity-25 rounded border-3 w-100 mb-1"></span>
													<span
														class="d-block border opacity-25 rounded border-3 w-100 mb-1"></span>
													<span
														class="d-block border opacity-25 rounded border-3 w-100 mb-1"></span>
												</span>
											</span>
											<span class="flex-grow-1">
												<span class="d-flex h-100 flex-column">
													<span class="bg-light d-block p-1"></span>
												</span>
											</span>
										</span>
									</div>

									<div id="topnav-color">
										<span class="d-flex h-100 flex-column">
											<span
												class="bg-light d-flex p-1 align-items-center border-bottom border-secondary">
												<span
													class="d-block p-1 bg-dark-lighten rounded me-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-auto"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
												<span
													class="d-block border border-3 border-secondary border-opacity-25 rounded ms-1"></span>
											</span>
											<span class="bg-primary bg-gradient d-block p-1"></span>
										</span>
									</div>
								</label>
							</div>
							<h5 class="font-14 text-center text-muted mt-2">Brand</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="offcanvas-footer border-top p-3 text-center">
		<div class="row">
			<div class="col-12">
				<button
					type="button"
					class="btn btn-primary w-100"
					id="reset-layout"
					(click)="resetTheme()">
					Reiniciar
				</button>
			</div>
		</div>
	</div>
</div>
