{
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "printWidth": 150
}
