<div class="modal-header">
	<h4 class="modal-title pull-left">
		{{ isCreate ? 'Crear' : 'Actualizar' }} usuario
	</h4>
	<button
		type="button"
		class="btn-close close pull-right"
		aria-label="Close"
		(click)="bsModalRef.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="userForm" (ngSubmit)="createUser()">
		<div class="mb-3">
			<app-control-message [control]="userForm.get('name')!">
				<label for="fullname" class="form-label">Nombre</label>
				<input
					class="form-control"
					type="text"
					formControlName="name"
					placeholder="Ingresa tu nombre" />
			</app-control-message>
		</div>

		<div class="mb-3">
			<app-control-message [control]="userForm.get('email')!">
				<label for="emailaddress" class="form-label">Correo electrónico</label>
				<input
					class="form-control"
					type="email"
					formControlName="email"
					placeholder="Ingresa tu correo electrónico" />
			</app-control-message>
		</div>

		<div class="mb-3">
			<label for="" class="form-label">Estado</label>
			<ng-select
				[items]="stateUser"
				bindLabel="name"
				bindValue="value"
				formControlName="isActive"
				[searchable]="false"
				[clearable]="false">
			</ng-select>
		</div>
		<button type="submit" class="p-0" style="border: 0"></button>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-seconday" (click)="bsModalRef.hide()">
		Cerrar
	</button>
	<button class="btn btn-primary" type="button" (click)="createUser()">
		Guardar
	</button>
</div>
