<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row mb-2">
					<div class="col-xl-8">
						<form
							class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
							<div class="col-auto">
								<input
									type="text"
									class="form-control"
									#inputPassword
									(keyup)="search(inputPassword.value)"
									placeholder="Buscar usuario" />
							</div>
						</form>
					</div>
					<div class="col-xl-4">
						<div class="text-xl-end mt-xl-0 mt-2">
							<button
								type="button"
								class="btn btn-danger mb-2 me-2"
								(click)="addUser()">
								<i class="ri-user-add-line me-1"></i> Agregar usuario
							</button>
						</div>
					</div>
				</div>

				<div class="table-responsive">
					<table class="table table-centered table-nowrap mb-0">
						<thead class="table-light">
							<tr>
								<th style="width: 42px">Avatar</th>
								<th>Nombre</th>
								<th>Correo electrónico</th>
								<th>Rol</th>
								<th>Estado</th>
								<th style="width: 125px">Acción</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="users.length === 0">
								<td colspan="6" class="text-center my-3">No hay usuarios</td>
							</tr>

							<ng-container *ngIf="users">
								<tr *ngFor="let user of users">
									<td>
										<img
											class="img-fluid"
											referrerpolicy="no-referrer"
											[src]="
												user.image | notImage : 'user' | safe : 'resourceUrl'
											"
											alt="imagen-perfil" />
									</td>
									<td>
										{{ user.name }}
									</td>
									<td>
										{{ user.email }}
									</td>
									<td>
										{{ user.role === 'USER_ROLE' ? 'Usuario' : 'Admin' }}
									</td>
									<td>
										<h5>
											<span
												class="badge"
												[ngClass]="
													user.isActive
														? 'badge-success-lighten'
														: 'badge-danger-lighten'
												"
												>{{ user.isActive ? 'Activo' : 'Inactivo' }}</span
											>
										</h5>
									</td>
									<td>
										<a (click)="updateUser(user)" class="action-icon">
											<i class="mdi mdi-square-edit-outline"></i
										></a>
										<a (click)="deleteUser(user._id)" class="action-icon">
											<i class="mdi mdi-delete"></i
										></a>
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>

				<div class="row mt-3 d-flex justify-content-center">
					<div class="col-auto">
						<pagination
							[totalItems]="totalUsers"
							[(ngModel)]="currentPage"
							(pageChanged)="getUsersByPage($event)"
							[nextText]="'Siguiente'"
							[previousText]="'Anterior'"></pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
