@import "~@ng-select/ng-select/themes/default.theme.css";

.pointer{
    cursor: pointer;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .75rem;
    color: #fa5c7c;
}

.form-control.is-invalid{
    border-color: #fa5c7c;
    padding-right: calc(1.5em + .9rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23fa5c7c'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fa5c7c' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .225rem) center;
    background-size: calc(.75em + .45rem) calc(.75em + .45rem)
}