<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xxl-4 col-lg-5">
				<div class="card">
					<div class="card-header py-4 text-center bg-primary">
						<a>
							<span><img src="assets/img/logo.png" alt="logo" height="62" /></span>
						</a>
					</div>

					<div class="card-body p-4">
						<div class="text-center">
							<h1 class="text-error">4<i class="mdi mdi-emoticon-sad"></i>4</h1>
							<h4 class="text-uppercase text-danger mt-3">Página no encontrada</h4>

							<a class="btn btn-info mt-3" (click)="backClicked()"><i class="mdi mdi-reply"></i> Regresar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="footer footer-alt">
	{{ year }}
	© Medical - app
</footer>
